apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://raw.githubusercontent.com/open-policy-agent/gatekeeper/v3.20.1/deploy/gatekeeper.yaml

# Patches per [1] to grant the necessary permissions for running on OpenShift.
#
# [1]: https://open-policy-agent.github.io/gatekeeper/website/docs/vendor-specific#running-on-openshift-4x
patches:
  - target:
      kind: Deployment
    patch: |
      - op: remove
        path: /spec/template/spec/containers/0/securityContext/runAsUser
  - target:
      kind: Deployment
      name: gatekeeper-audit
    patch: |
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 1Gi
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 1Gi
  - target:
      kind: Role
      name: gatekeeper-manager-role
    patch: |
      - op: add
        path: /rules/-
        value:
          apiGroups:
          - security.openshift.io
          resources:
          - securitycontextconstraints
          resourceNames:
          - anyuid
          verbs:
          - use
